html.light {
  --customize-background-color: #fff;
}

html.dark {
  --el-bg-color-page: #292929;
  --customize-background-color: #333;
}

.el-aside,
.el-header {
  background-color: var(--customize-background-color);
}
