body,
div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
dl,
dt,
a,
input,
button,
textarea,
select {
  padding: 0;
  margin: 0;
  outline: none;
}

html,
body {
  height: 100vh;
  font-family:
    "Helvetica Neue",
    Helvetica,
    Arial,
    "Microsoft Yahei",
    "Hiragino Sans GB",
    "Heiti SC",
    "WenQuanYi Micro Hei",
    sans-serif;
  font-size: 14px;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

input:focus,
a:focus {
  outline: none;
}

#app {
  max-width: 100%;
  height: 100%;
  overflow-x: hidden;
}

/* 弹框太窄会失去可用性 */
.el-dialog {
  min-width: 480px;
}

.el-popper {
  max-inline-size: 66ch;
}
