@keyframes gear-rotate-clock-wise {
  0% {
    transform: rotate(15deg);
  }

  100% {
    transform: rotate(-345deg);
  }
}

@keyframes gear-rotate-anti-clock-wise {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
